/* login page */
.form-main {
  background-color: #181818;
  width: 32%;
  height: 40vh;
  margin: auto;
  text-align: center;
  margin-top: 25vh;
  padding-top: 10px;
}
.enter-email,
.enter-password {
  background-color: black;
  width: 80%;
  height: 35px;
  border: none;
  margin: auto;
}
.enter-email ::placeholder,
.enter-password::placeholder {
  color: gray;
}
.login-submit-remember {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 30px auto;
}
/* .about1 {
  /* background-color: red; */
  /* text-align: center;
  height: 50px;
  padding-bottom: 3%;
} */ 
.about {
  /* background-color: red;
  width: 10%;
  font-size: 2rem;
  text-align: center; */
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
margin: 0 auto 20px 45%;
}
 .about-us {
   background-color: rgb(108, 22, 221);
  
 }
.text {
  margin-left: 3%;
  margin-right: 3%;


}
 .page-container {
  background-color: #181818;
  margin: 5%;
  /* width: 100%; */
  max-width: 90%;
  /* overflow-x: auto !important; */
max-height: 50%;
}
.page-title {
  margin-left: 45%;
  margin-top: 4%;

  padding-top: 2%;
}